
.shubhi-centerheader {
  text-align: center;
  background-color:rgb(0, 0, 0));
}

.profile-pic {
  border-radius: 50%;
}

#About {
   background-color: rgba(0,0,0,0.8) ;
   font-style : white ;
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:rgba(159, 96, 138, 0.662);
  /*height: 100px;*/
}

.item2 {
  background-color:rgba(159, 96, 138, 0.662);
  /*height: 100px;*/
}

.item3 {
  background-color: rgba(159, 96, 138, 0.662);
  /*height: 100px;*/
}
